<!DOCTYPE html>
<html>
<head>
    <title>Display a Database Record via a Simple API Connection</title>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- production version, optimized for size and speed 
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    
    <!-- Axios (easy API integartion library/package) -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
    
    <div id="app">
        <div v-if="error">
            <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
        </div>

        <div v-else>
            <div v-if="loading">Loading...</div>
        
            <div v-else>
                Hey {{ record.firstName }} {{ record.lastName }}!
            </div>
        
        </div>
    </div>

    <script>

        var app = new Vue({
            el: '#app',
            data() {
                return {
                    record: '',
                    loading: true,
                    error: false
                }
            },
            mounted() {
                axios.get('http://localhost:20002/api/DEMO/001')
                    .then(response => {
                        this.record = response.data.data[0]
                    })
                    .catch(error => {
                        console.log(error)
                        this.error = true
                    })
                    .finally(() => {
                        this.loading = false
                    })
            }
        })

    </script>

</body>
</html>
